{% extends 'base.html' %}

{% block title %}BlogCompletion{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>BlogCompletion</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h2 class="completed">Completed!</h2>
                </div>
                <div class="blog_comp">
                <div class="col-md-12 text-center">
                    <p><button type="submit" class="btn btn-primary btn-outline btn-lg" href="{% url 'main:Mypage' %}">OK</button></p>
                </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}