{% extends 'base.html' %}

{% load static %}

{% block title %}Blog Delete | SAMURAI WALK{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/stylymap.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 style="text-transform:none">Blog Delete</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center">
                <h4 style="text-transform:none">Are you sure you want to delete this blog?</h4>
            </div>
            <table class="confirmation">
                <tr>
                    <th class="th-center">Title</th>
                    <td class="td-space">{{ blog.0.MO7_blogName }}</td>
                </tr>
                <tr>
                    <th class="th-center">Contents</th>
                    <td class="td-space">
                        {{ blog.0.MO7_blogText }}
                    </td>
                </tr>
                {% for i in img %}
                <tr>
                    <th class="th-center">Image{{forloop.counter}}</th>
                    <td class="td-space">
                        <img class="gazo" src={{i}}>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th class="th-center">VisitRecode</th>
                    <td class="td-space">
                        {{ blog.0.MO6_visitRecordNumber }}
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <form method="post" id="delete_form">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
                <button class="btnin" style="width:100px;" type="submit" name="next" value="cancel"
                    onclick="location.href='{% url 'blog:blogDetail' blog.0.MO7_blogNumber %}'">Cancel</button>
                <button class="btnin" style="width:120px;" type="submit" name="next" value="delete"
                    form="delete_form">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}