{% extends 'base.html' %}

{% load static %}

{% block title %}BlogList{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Blog Edit</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- ブログタイトル入力 -->
        <!-- ブログ内容入力 -->
        <!-- 該当する訪問記録を選択 -->
        <p>{{ message }}</p>
        <form method="post">
            {% csrf_token %}
            <table class="confirmation">
                <input type="hidden" name="MO1_userID" value={{user.MO1_userNumber}}>
                <tr>
                    <th class="th-center">BlogName</th>
                    <td class="td-space">{{form.MO7_blogName}}</td>
                </tr>
                <tr>
                    <th class="th-center">BlogText</th>
                    <td class="td-space">
                        <pre>{{form.MO7_blogText}}</pre>
                    </td>
                </tr>
                <tr>
                    <th class="th-center">VisitRecode</th>
                    <td class="td-space">
                        {{form.MO6_visitRecordNumber}}
                    </td>
                </tr>
                <tr>
                    <th class="th-center">OpenRangee</th>
                    <td class="td-space">
                        {{form.MO7_openRange}}
                    </td>
                </tr>
            </table>
            <button class="button primary" type="submit" name="next" value="update">Update</button>
        </form>
    </div>
</div>
{% endblock %}