{% extends 'base.html' %}

{% load static %}

{% block title %}BlogList{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Your Blog</h3>
            </div>
        </div>
    </div>
    <div class="container right">
        <div class="row">
            <div class="animate-box">
                <ul class="actions">
                    <!-- 作成ページ遷移ボタン -->
                    <li><a href="#" class="button primary">Create</a></li>
                    <!-- 公開範囲設定ボタン -->
                    <li><a href="#" class="button primary">OpenRange</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="{% static 'images/place-1.jpg' %}" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <!-- ブログタイトル -->
                            <h3><a href="#">30% Discount to Travel</a></h3>
                            <!-- 日付 -->
                            <span class="posted_by">Sep. 15th</span>
                            <!-- <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span> -->
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                            <!-- ブログ詳細画面へのリンク -->
                            <p><a href="#">Learn More...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="{% static 'images/place-1.jpg' %}" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <!-- ブログタイトル -->
                            <h3><a href="#">30% Discount to Travel</a></h3>
                            <!-- 日付 -->
                            <span class="posted_by">Sep. 15th</span>
                            <!-- <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span> -->
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.</p>
                            <!-- ブログ詳細画面へのリンク -->
                            <p><a href="#">Learn More...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
        </div>
    </div>
</div>

{% endblock %}