{% extends 'base.html' %}

{% load static %}

{% block title %}BlogList{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Create New Blog</h3>
                {{ form.as_p }}
            </div>
        </div>
    </div>
    <div class="container">
        <!-- ブログタイトル入力 -->
        <!-- ブログ内容入力 -->
        <!-- 該当する訪問記録を選択 -->
    </div>
</div>
{% endblock %}