{% extends 'base.html' %}

{% load static %}

{% block title %}Other BlogList | SAMURAI WALK{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">Other Blog</h3>
            {% comment %} 「ユーザ名 Blog」の形で表示したい {% endcomment %}
            {% comment %} <h3 style="text-transform:none">{{ user.username }} Blog</h3> {% endcomment %}
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="row row-bottom-padded-md">
                {% for blog in blogs %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="fh5co-blog animate-box">
                        <a href="../../blogDetail/{{blog.MO7_blogNumber}}"><img class="img-responsive"
                                src="/media/{{ blog.MO7_blogImage1}}" alt=""></a>
                        <div class="blog-text">
                            <div class="prod-title">
                                <!-- ブログタイトル -->
                                <h3 class="blog-title"><a href='../../blogDetail/{{blog.MO7_blogNumber}}'>{{ blog.MO7_blogName }}</a></h3>
                                <!-- 日付 -->
                                <span class="posted_by">{{ blog.MO7_createDate }}</span>
                                <!-- <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span> -->
                                <p>
                                <pre>{{ blog.MO7_blogText }}</pre>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div>
                    <p>No blog</p>
                </div>
                {% endfor %}
                <div class="clearfix visible-md-block"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}