{% extends 'base.html' %}

{% block title %}Confirm sign up{% endblock %}

{% block active_login %}active{% endblock %}


{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h1>User Registration</h1>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center-nh">
                {% if confirmation %}
                <h4 style="text-transform:none">To confirm your user registration, press the button below.</h4>
                
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <div style="margin-top:20px;">
                        <button class="btnin" style="width:150px;" type="submit">Decision</button>
                    </div>
                </form>
                
                {% else %}
                
                {% url 'account_email' as email_url %}
                
                <p class="email_conf">The link has expired. <a href="{{ email_url }}">Reapplication</a>.</p>
                
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
