{% extends 'base.html' %}

{% block title %}Log In | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Login</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
            
                {{ form.as_p }}
            
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            
                <div class="text-center">
                    <p><button class="btn btn-primary btn-outline btn-lg" type="submit">Login</button></p>
                </div>
                <p style="text-align:center;"><a href="{% url 'accounts:signup' %}">SignUp</a></p>
                <p style="text-align:center;"><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
                <p style="text-align:center;"><a href="{% url 'store:storeLogin' %}">Are you a store owner?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}