{% extends 'base.html' %}

{% block title %}Password reset done{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">Password Reset Done</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center-nh"></div>
            <div style="text-align:center;">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <h4 style="text-transform:none; margin-bottom:70px;">An email for password reset has been sent.</h4>
                {% comment %} login画面に遷移するボタンを置きました。不要なら消してちゃっても大丈夫です。 {% endcomment %}
                <button type="submit" class="btnin" onclick="location.href='{% url 'accounts:login' %}'">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
