{% extends "base.html" %}

{% block title %}PassWord Reset | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">PassWord Reset Completed</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center-nh">
                <!-- <h1>{% trans "Change Password" }</h1> -->
                <p style="margin-bottom:70px;">{% trans 'Your password is now changed.' %}</p>
                <button class="btnin" style="width:100px;" type="submit"
                    onclick="location.href='{% url 'accounts:login' %}'">Login</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}