{% extends 'base.html' %}

{% block title %}Sign Up | SAMURAI WALK{% endblock %}

{% block active_signup %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Signup</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                {{ form.as_p }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="toroku" type="submit" href = "{% url 'accounts:SingUpCompletion' %}">登録</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}