{% extends 'base.html' %}

{% block title %}Sign Up | SAMURAI WALK{% endblock %}

{% block active_signup %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">Signup</h3>
        </div>
    </div>

    <div class="container">
        <div class="signup-form">
            <div class="animate-box">
                <form class="signup" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
        
                    {{ form.as_p }}
        
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    <div class="text-center-nh space">
                        <button class="btnin" style="width:150px;" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}