.my-div-style {
    margin-left: 20%;
}

@media screen and (max-width: 959px) {
    div {
        line-height: 2.7;
    }
}

@media screen and (max-width: 480px) {
    div {
        line-height: 1.6;
    }
}

/* logout.htmlのCSS */
.text {
    margin-bottom: 50px;
    margin-left: 200px;
}

@media screen and (max-width: 959px) {
    .text {
        font-size: 25px;
        margin-left: 17%;
    }
}

@media screen and (max-width: 480px) {
    .text {
        font-size: 23px;
        margin-left: -5%;
    }
}

@media screen and (max-width: 480px) {
    .logout {
        margin-left: 5%;
    }
}

.cancel {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 250px;
}

@media screen and (max-width: 959px) {
    .cancel {
        margin-left: 22%;
        margin-bottom: 60%;
    }
}

@media screen and (max-width: 480px) {
    .cancel {
        margin-bottom: 70%;
        margin-left: 13%;
        margin-right: 0%;
    }
}

/* login.htmlのCSS */
.login {
            margin-left: 47.6%;
            margin-bottom: 30px;
}

@media screen and (max-width: 959px) {
    .login {
        margin-left: 46%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .login {
        margin-left: 42%;
        margin-bottom: 30px;
    }
}

.button_secondaryAction {
    margin-left: 42%;
}

@media screen and (max-width: 959px) {
    .button_secondaryAction {
        margin-left: 36%;
    }
}

@media screen and (max-width: 480px) {
    .button_secondaryAction {
        margin-left: 21%;
    }
}

/* signup.htmlのCSS */
#signup_form {
    margin-left: 290px;
}

@media screen and (max-width: 959px) {
    #signup_form {
        margin-left: 13%;
    }
}

@media screen and (max-width: 480px) {
    #signup_form {
        margin-left: 0%;
    }
}

.toroku {
    margin-left: 200px;
    margin-top: 40px;
}

@media screen and (max-width: 480px) {
    .toroku {
        margin-left: 35%;
    }
}

/* SignUpCompletion.htmlのCSS */
.welcom {
    margin-left: 290px;
}

@media screen and (max-width: 959px) {
    .welcom {
        margin-left: 28%;
    }
}

@media screen and (max-width: 480px) {
    .welcom {
        margin-left: 18%;
    }
}

.close {
    margin-right: 560px;
    margin-top: 60px;
}

@media screen and (max-width: 959px) {
    .close {
        margin-right: 57%;
        margin-bottom: 60%;
    }
}

@media screen and (max-width: 480px) {
    .close {
        margin-right: 53%;
        margin-bottom: 80%;
    }
}

/* StoreInfoCompletion.htmlのCSS */
.complete {
    margin-left: 282px;
}

@media screen and (max-width: 959px) {
    .complete {
        margin-left: 27%;
    }
}

@media screen and (max-width: 480px) {
    .complete {
        margin-left: 15%;
    }
}

.info_close {
    margin-left: 285px;
    margin-top: 40px;
}

@media screen and (max-width: 959px) {
    .info_close {
        margin-left: 27%;
        margin-top: 15%;
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 480px) {
    .info_close {
        margin-left: 16%;
        margin-top: 15%;
        margin-bottom: 60%;
    }
}

/* BlogCompletion.htmlのCSS */
.completed {
    margin-left: 270px;
}

@media screen and (max-width: 959px) {
    .completed {
        margin-left: 25%;
    }
}

@media screen and (max-width: 480px) {
    .completed {
        margin-left: 11%;
    }
}

@media screen and (max-width: 959px) {
    .blog_comp {
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 480px) {
    .blog_comp {
        margin-bottom: 50%;
    }
}

.blog_OK {
    margin-left: 285px;
    margin-top: 40px;
}

/* StoreInfoCompletion.htmlのCSS */
.store_complete {
    margin-left: 215px;
}

@media screen and (max-width: 959px) {
    .store_complete {
        margin-left: 15%;
    }
}

@media screen and (max-width: 480px) {
    .store_complete {
        margin-left: -5%;
    }
}

.back {
    margin-left: 295px;
    margin-top: 40px;
}

@media screen and (max-width: 959px) {
    .back {
        margin-left: 29%;
        margin-top: 15%;
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 480px) {
    .back {
        margin-left: 20%;
        margin-top: 20%;
        margin-bottom: 60%;
    }
}

.row_justify-content-center {
    margin-left: 520px;
}

/* DeleteAccount.htmlのCSS */
.account_de_text {
    margin-left: 120px;
}

@media screen and (max-width: 959px) {
    .account_de_text {
        font-size: 18px;
        margin-left: 0%;
    }
}

@media screen and (max-width: 480px) {
    .account_de_text {
        font-size: 15px;
        margin-left: 10%;
    }
}

.account {
    margin-left: 390px;
    font-size: 20px;
}

@media screen and (max-width: 959px) {
    .account {
        margin-left: 15%;
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .account {
        margin-left: 7%;
        font-size: 15px;
    }
}

.account_cancel {
    margin-left: 10px;
    margin-top: 50px;
}

@media screen and (max-width: 959px) {
    .account_cancel {
        margin-right: 0%;
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 480px) {
    .account_cancel {
        /* margin-left: 18%; */
        margin-bottom: 60%;
    }
}

.account_delete {
    margin-left: 60px;
}

/* StoreLogin.htmlのCSS */
.col-md-12 {
    margin-top: 50px;
}

@media screen and (max-width: 959px) {
    .col-md-12 {
        margin-top: 10%;
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 480px) {
    .col-md-12 {
        margin-top: 15%;
        margin-bottom: 30%;
    }
}

/* StoreLogout.htmlのCSS */
.store_text {
    margin-left: 10px;
    margin-bottom: 80px;
}

@media screen and (max-width: 959px) {
    .store_text {
        margin-left: -20%;
    }
}

@media screen and (max-width: 480px) {
    .store_text {
        font-size: 15px;
        margin-left: -23%;
    }
}

.store_cancel {
    margin-left: 190px;
}

@media screen and (max-width: 959px) {
    .store_cancel {
        margin-left: 15%;
        margin-bottom: 70%;
    }
}

@media screen and (max-width: 480px) {
    .store_cancel {
        margin-left: -10%;
        margin-bottom: 70%;
    }
}

.store_logout {
    margin-left: 60px;
}

@media screen and (max-width: 480px) {
    .store_logout {
        margin-left: 5%;
        margin-bottom: 20%;
    }
}

/* StoreDeleteConfirmation.htmlのCSS */
.store_info_text {
    font-size: 25px;
    margin-left: 100px;
}

@media screen and (max-width: 959px) {
    .store_info_text {
        margin-left: -2%;
    }
}

@media screen and (max-width: 480px) {
    .store_info_text {
        font-size: 15px;
        margin-left: -13%;
    }
}

.store_info_button {
    margin-left: 150px;
    display: inline-block;
}

@media screen and (max-width: 959px) {
    .store_info_button {
        margin-left: 13%;
    }
}

@media screen and (max-width: 480px) {
    .store_info_button {
        margin-left: -10%;
        padding: 7%;
    }
}

/* テーブル */
table.confirmation {
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-right: 190px;
    width: 80%;
}

td,
th {
    padding: 10px;
}

th.th-center {
    background: #F78536;
    color: #fff;
    width: 30%;
    height: 50px;
    text-align: center;
}

td.td-space {
    background: #ffefe4;
    /* 改行 */
    word-break: break-word;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
}

/* PointConfirmation.htmlのCSS */
.point_text {
    margin-left: -150px;
}

@media screen and (max-width: 959px) {
    .point_text {
        margin-left: -30%;
        font-size: 23px;
    }
}

@media screen and (max-width: 480px) {
    .point_text {
        font-size: 11px;
        margin-left: -26%;
    }
}

table.point_confirmation {
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom:50px;
    width: 30%;
}

@media screen and (max-width: 959px) {
    table.point_confirmation {
        margin-left: 16%;
    }
}

@media screen and (max-width: 480px) {
    table.point_confirmation {
        margin-left: auto;
        margin-right:auto;
        width: 55%;
    }
}

.point_cancel {
    margin-left: 180px;
    margin-top: 40px;
}

@media screen and (max-width: 959px) {
    .point_cancel {
        margin-left: 13%;
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 480px) {
    .point_cancel {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 30%;
    }
}

.point_use {
    margin-left: 70px;
}

@media screen and (max-width: 480px) {
    .point_use {
        margin-left: 8%;
    }
}

/* PointDisplay.htmlのCSS */
.point_disp_text {
    font-size: 30px;
    /* margin-left: 100px; */
    margin-bottom: 60px;
}

/* @media screen and (max-width: 959px) {
    .point_disp_text {
        margin-left: -5%;
    }
}

@media screen and (max-width: 480px) {
    .point_disp_text {
        margin-left: -5%;
    }
} */

.point_display {
    margin-left: auto;
    margin-right:auto;
    width: 30%;
    margin-top:50px;
    margin-bottom:50px;
}

@media screen and (max-width: 959px) {
    .point_display {
        margin-left: 10%;
        /* margin-bottom: 20%; */
    }
}

@media screen and (max-width: 480px) {
    .point_display {
        margin-left: auto;
        margin-right:auto;
        width:60%;
    }
}

.point_close {
    margin-top: 10px;
    margin-left: 290px;
}

@media screen and (max-width: 959px) {
    .point_close {
        margin-left: 27%;
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 480px) {
    .point_close {
        margin-left: 16%;
    }
}

/* PointInput.htmlのCSS */
.point_input_text {
    margin-left: 190px;
    margin-top: 80px;
    margin-bottom: 60px;
}

@media screen and (max-width: 959px) {
    .point_input_text {
        margin-left: 13%;
    }
}

@media screen and (max-width: 480px) {
    .point_input_text {
        margin-left: 0%;
    }
}

.point_input {
    margin-left: auto;
    margin-right:0;
    width: 30%;
}

@media screen and (max-width: 959px) {
    .point_input {
        margin-left: 40%;
    }
}

@media screen and (max-width: 480px) {
    .point_input {
        margin-left: auto;
        margin-right: auto;
        width:80%;
    }
}

.point_OK {
    margin-top: 40px;
    margin-left: 20px;
}

@media screen and (max-width: 480px) {
    .point_OK {
        margin-left: 100px;
        margin-right:100px;
        margin-top: 10%;
    }
}

/* OspotVisitRegister.htmlのCSS */
table.ospot_record {
    width: 500px;
    height: 300px;
    margin-left: 60px;
}

@media screen and (max-width: 959px) {
    table.ospot_record {
        margin-left: -15%;
    }
}

@media screen and (max-width: 480px) {
    table.ospot_record {
        width: 120%;
        margin-left: -25%;
    }
}

.th-center {
    vertical-align: middle;
}

.td-name {
    vertical-align: middle;
}

.td-date {
    vertical-align: middle;
}

.td-time {
    vertical-align: middle;
}

.btn-record {
    margin-left: 430px;
}

@media screen and (max-width: 959px) {
    .btn-record {
        margin-left: 60%;
        margin-top: 10%;
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 480px) {
    .btn-record {
        margin-left: 45%;
    }
}

/* FavoriteUserList.htmlのCSS */
.favorite {
    margin-left: 450px;
    margin-bottom: 40px;
}

@media screen and (max-width: 959px) {
    .favorite {
        margin-left: 160%;
    }
}

@media screen and (max-width: 480px) {
    .favorite {
        width: 95%;
        margin-left: 30%;
    }
}

@media screen and (max-width: 959px) {
    .user_list {
        margin-bottom: 180%;
    }
}

@media screen and (max-width: 480px) {
    .user_list {
        margin-bottom: 10%;
        width: 100%;
    }
}

.remain_text {
    margin-left: 225px;
}

.point_disp {
    width: 40%;
    margin-left: 170px;
}

.point {
    text-align: center;
}

.use {
    margin-left: 170px;
}

.po_save {
    margin-left: 170px;
}

.point_log {
    margin-top: 80px;
    width: 100%;
}

.store_point {
    text-align: center;
}

/* OspotInfo.htmlのCSS */
.spot_disp {
    width: 50%;
    margin-right: 450px;
}

@media screen and (max-width: 480px) {
    .spot_disp {
        margin-left: 0%;
    }
}

.Spot_Name {
    text-align: center;
}

.record {
    margin-left: 600px;
    display: inline-block;
}

@media screen and (max-width: 959px) {
    .record {
        margin-left: 70%;
        margin-top: -20%;
    }
}

@media screen and (max-width: 480px) {
    .record {
        width: 47%;
        margin-left: 55%;
        float: right;
        margin-top: -80%;
    }
}

.spot_date {
    width: 70%;
}

.visited_count {
    width: 450px;
    margin-left: 600px;
    margin-top: -340px;
}

@media screen and (max-width: 959px) {
    .visited_count {
        margin-left: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .visited_count {
        width: 100%;
        margin-left: 0%;
        margin-top: 20%;
    }
}

.spot_date {
    width: 450px;
    margin-left: 600px;
    margin-top: -30px;
}

@media screen and (max-width: 959px) {
    .spot_date {
        margin-left: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .spot_date {
        width: 100%;
        margin-left: 0%;
        margin-bottom: -60%;
    }
}

.featured {
    margin-top: 280px;
}

.blog_date {
    margin-top: -30px;
}

.f_blog {
    text-align: center;
}

/* password_reset.htmlのCSS */
.Pass_re {
    margin-top: 30px;
    font-size: 60px;
}

.email_mess {
    margin-left: 110px;
    font-size: 25px;
    margin-bottom: 90px;
}

@media screen and (max-width: 959px) {
    .email_mess {
        margin-left: 0%;
    }
}

@media screen and (max-width: 480px) {
    .email_mess {
        margin-left: -22%;
        font-size: 18px;
    }
}

.btn_send {
    margin-left: 270px;
    margin-top: 50px;
}

@media screen and (max-width: 959px) {
    .btn_send {
        margin-left: 35%;
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 480px) {
    .btn_send {
        margin-left: 18%;
    }
}

.pass_form {
    margin-left: 130px;
}

@media screen and (max-width: 959px) {
    .pass_form {
        margin-left: 0%;
    }
}

@media screen and (max-width: 480px) {
    .pass_form {
        width: 100%;
        margin-left: -20%;
    }
}

/* StoreCertification.htmlのCSS */
.add_btn {
    margin-left: 575px;
    margin-top: -40px;
    margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
    .add_btn {
        margin-left: 43%;
    }
}

@media screen and (max-width: 480px) {
    .add_btn {
        margin-left: 35%;
    }
}

.verified {
    margin-left: 60px;
    width: 90%;
    margin-top: 100px;
}

@media screen and (max-width: 959px) {
    .verified {
        width: 87%;
    }
}

@media screen and (max-width: 480px) {
    .verified {
        margin-left: 5%;
    }
}

.aida {
    margin-top: 100px;
}

@media screen and (max-width: 480px) {
    .aida {
        margin-top: -40%;
    }
}

/* email_confirm.htmlのCSS */
.email_conf {
    margin-left: 160px;
}

@media screen and (max-width: 959px) {
    .email_conf {
        margin-left: -10%;
        margin-top: 20%;
        margin-bottom: 70%;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .email_conf {
        margin-left: -22%;
        margin-bottom: 120%;
        font-size: 17px;
    }
}

.user_comp {
    margin-left: 110px;
}

@media screen and (max-width: 959px) {
    .user_comp {
        margin-left: 0%;
        margin-top: 30%;
    }
}

@media screen and (max-width: 480px) {
    .user_comp {
        margin-left: -20%;
        margin-top: 10%;
        font-size: 13px;
    }
}

.kakutei_btn {
    margin-top: 60px;
    margin-left: 295px;
}

@media screen and (max-width: 959px) {
    .kakutei_btn {
        margin-left: 0%;
        margin-top: -10%;
        padding: 30%;
    }
}

@media screen and (max-width: 480px) {
    .kakutei_btn {
        margin-left: 2%;
        padding: 20%;
    }
}

/* StorePassRegister.htmlのCSS */
.store_pass {
    margin-left: 0px;
    width: 80%;
}

@media screen and (max-width: 959px) {
    .store_pass {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .store_pass {
        width: 90%;
    }
}

.store_pass_conf {
    width: 80%;
    margin-top: 60px;
}

@media screen and (max-width: 959px) {
    .store_pass_conf {
        width: 90%;
        margin-top: 20%;
    }
}

@media screen and (max-width: 480px) {
    .store_pass_conf {
        width: 90%;
    }
}

.btn_regist {
    margin-left: 300px;
    margin-top: 70px;
}

@media screen and (max-width: 959px) {
    .btn_regist {
        margin-left: 30%;
        margin-top: 40%;
    }
}

@media screen and (max-width: 480px) {
    .btn_regist {
        margin-left: 21%;
    }
}