.my-div-style {
    margin-left: 20%;
}

.text {
    margin-bottom: 50px;
}

.cancel {
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 140px;
}

.login {
    margin-left: 45.7%;
    margin-bottom: 30px;
}

.button_secondaryAction {
    margin-left: 42%;
}

#signup_form {
    margin-left: 290px;
}

.toroku {
    margin-left: 200px;
    margin-top: 40px;
}

.welcom {
    margin-left: 225px;
}

.close {
    margin-right: 70px;
    margin-top: 60px;
}