{% extends 'base.html' %}

{% load static %}

{% block title %}OpenRange{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 style="text-transform:none">OpenRange</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <section>
                <form method="post" action="{% url 'accounts:OpenRangeRegister' %}">
                    {% csrf_token %}
                    <div class="tab_wrap">
                        <input id="tab1" type="radio" name="tab_btn" checked>
                        <input id="tab2" type="radio" name="tab_btn">
                        <div class="tab_area">
                            <label class="tab1_label" for="tab1">Public scope of Blog</label>
                        </div>
                        <div class="panel_area">
                            <div id="panel1" class="tab_panel">
                                <div class="col-4 col-12-small">
                                    {% if mydata.MO1_openRange == 0 %}
                                    <input type="radio" id="demo-priority-normal" name="demo-priority" value="0"
                                        checked>
                                    {% else %}
                                    <input type="radio" id="demo-priority-normal" name="demo-priority" value="0">
                                    {% endif %}
                                    <label for="demo-priority-normal">publish to the public</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    {% if mydata.MO1_openRange == 1 %}
                                    <input type="radio" id="demo-priority-high" name="demo-priority" value="1" checked>
                                    {% else %}
                                    <input type="radio" id="demo-priority-high" name="demo-priority" value="1">
                                    {% endif %}
                                    <label for="demo-priority-high">private</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <!-- 設定ボタン -->
                        <div class="col-md-12">
                            <button class="btnin" type="submit" style="width: 100px;">Set</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}