{% extends 'base.html' %}

{% load static %}

{% block title %}Mypage{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <!-- ↓ユーザ名を入れる -->
                <h3>{{ page_user.username }}'s Page</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- 左寄せ -->
        <div id="fh5co-menu-wrap">
            <div class="row">
                <div class="animate-box">
                    <ul class="actions">
                        <form method="post" action="{% url 'accounts:FavUser' %}">
                            {% csrf_token %}
                            <input type="hidden" name="mydata" value={{mydata.MO1_userNumber}}>
                            <input type="hidden" name="user" value={{page_user.MO1_userNumber}}>
                            <input type="hidden" name="fav" value={{fav}}>
                            {% if fav == 0 %}
                                <button type="submit" id="main">★</button>
                            {% else %}
                                <button type="submit" id="main" style="background-color: #00CCFF;">★</button>
                            {% endif %}
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <section class="tiles">
                    <article class="style1">
                        <span class="image">
                            <img src="{% static 'images/pic01.jpg' %}" alt="" />
                            <p>Map</p>
                        </span>
                        <div class="content">
                            <p></p>
                        </div>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style2">
                        <span class="image">
                            <a href="{% url 'blog:otherBlogList' page_user.MO1_userNumber %}">
                            <img src="{% static 'images/pic02.jpg' %}" alt="" />
                            <p>Blog</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<style>

  .foo{

      background-color: #00CCFF;

  }

</style>
<script>
    document.getElementById('main').onclick = function () {
        this.classList.toggle('foo');
    };
    {% if fav == 1 %}
        window.onload = function() {
        document.getElementById('main').click();
    }
{% endif %}

</script>