{% extends 'base.html' %}

{% block title %}UserSearchResult | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 style="text-transform:none">UserSearch</h3>
            </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <table class="user_list">
                {% for i in users %}
                {% if  user.username == i.username %}
                {% else %}
                <tr>
                    <td class="user1">{{ i.username }}</td>
                    <form method="post" action="{% url 'accounts:OtherMypage' %}">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ i.MO1_userNumber }}">
                        <td style="text-align:right;"><button class="btnin" style="width:150px;" type="submit">UserPage</button></td>
                    </form>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <div class="text-center-nh">
                <button onclick="location.href='{% url 'accounts:UserSearch' %}'" class="btnin" style="width:150px;">research</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}