{% extends 'base.html' %}

{% block title %}Default Info | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<!-- 画像スライド -->
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">Default Info</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <!-- 画像スライド -->
            <div class="container1">
                <div class="carousel">
                    <input type="radio" id="carousel-1" name="carousel[]" checked>
                    <input type="radio" id="carousel-2" name="carousel[]">
                    <input type="radio" id="carousel-3" name="carousel[]">
                    <input type="radio" id="carousel-4" name="carousel[]">
                    <input type="radio" id="carousel-5" name="carousel[]">
                    <ul class="carousel__items">
                        <li class="carousel__item" id="paddingnone"><img
                                src="//lh5.googleusercontent.com/-cTEgPOnd3l8/U8-EmaZ4KNI/AAAAAAAABc8/6eacbALkQ6A/w1358-h905-no/carousel-1.JPG"
                                alt=""></li>
                        <li class="carousel__item" id="paddingnone"><img
                                src="//lh4.googleusercontent.com/-ntVHbbWX5eo/U8-EmV8P4cI/AAAAAAAABc4/ICYBGkcztTc/w1358-h905-no/carousel-2.jpg"
                                alt=""></li>
                        <li class="carousel__item" id="paddingnone"><img
                                src="//lh5.googleusercontent.com/-batEXUZE_e4/U8-EmLF9-hI/AAAAAAAABc0/J3tJVUa6Buk/w1358-h905-no/carousel-3.jpg"
                                alt=""></li>
                        <li class="carousel__item" id="paddingnone"><img
                                src="//lh5.googleusercontent.com/-gywqIeMvel0/U8-EolKdtkI/AAAAAAAABdM/G0-NHuvvJUU/w1358-h905-no/carousel-4.jpg"
                                alt=""></li>
                        <li class="carousel__item" id="paddingnone"><img src="{% static 'images/pic03.jpg' %}" alt="" /></li>
                    </ul>
                    <div class="carousel__prev">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <label for="carousel-4"></label>
                        <label for="carousel-5"></label>
                    </div>
                    <div class="carousel__next">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <label for="carousel-4"></label>
                        <label for="carousel-5"></label>
                    </div>
                    <div class="carousel__nav">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <label for="carousel-4"></label>
                        <label for="carousel-5"></label>
                    </div>
                </div>
            </div>
            <div class="side-by-side">
                <table class="spot-table">
                    <tr>
                        <td class="Spot_Name">{{ spot.MO2_storeNumber.MO2_storeName }}</td>
                    </tr>
                    <tr>
                        <td>Spot Info<br>
                            {{ spot.MO2_storeNumber.MO2_storeInfo }}
                        </td>
                    </tr>
                </table>
                <table class="spot-table2">
                    <tr>
                        <th>You have visited {{ count }} times.</th>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                {% for i in myrecords %}
                                <option>{{ i.MO6_createdDate }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <th class="f_blog">Featured Blogs</th>
                </tr>
                {% for i in blogs %}
                    <tr>
                        <td>
                            <a href="{% url 'blog:blogDetail' i.MO7_blogNumber %}">“ {{ i.MO7_blogName }} ” - {{ i.MO1_userID.username }}</a><br>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}