{% extends 'base.html' %}

{% block title %}Default Info | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<!-- 画像スライド -->
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 style="text-transform:none">Default Info</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <!-- 画像スライド -->
            {% if img_count != 0%}
            <div class="container1">
                <div class="carousel">
                    {% for i in img_id%}
                        {% if i == "carousel-1" %}
                        <input type="radio" id="{{i}}" name="carousel[]" checked>
                        {% else %}
                        <input type="radio" id="{{i}}" name="carousel[]">
                        {% endif %}
                    {% endfor %}
                    <ul class="carousel__items">
                        {% for a in img_link %}
                        <li class="carousel__item" id="paddingnone"><img
                                src="{{a}}"
                                alt=""></li>
                        {% endfor %}
                    </ul>
                    <div class="carousel__prev">
                        {% for i in img_id%}
                        <label for="{{i}}"></label>
                        {% endfor %}
                    </div>
                    <div class="carousel__next">
                        {% for i in img_id%}
                        <label for="{{i}}"></label>
                        {% endfor %}
                    </div>
                    <div class="carousel__nav">
                        {% for i in img_id%}
                        <label for="{{i}}"></label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="side-by-side">
                <table class="spot-table">
                    <tr>
                        <td class="Spot_Name">{{ spot.MO2_storeNumber.MO2_storeName }}</td>
                    </tr>
                    <tr>
                        <td>Spot Info<br>
                            {{ spot.MO2_storeNumber.MO2_storeInfo }}
                        </td>
                    </tr>
                </table>
                <table class="spot-table2">
                    <tr>
                        <th>You have visited {{ count }} times.</th>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                {% for i in myrecords %}
                                <option>{{ i.MO6_createdDate }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <th class="f_blog">Featured Blogs</th>
                </tr>
                {% for i in blogs %}
                    <tr>
                        <td>
                            <a href="{% url 'blog:blogDetail' i.MO7_blogNumber %}">“ {{ i.MO7_blogName }} ” - {{ i.MO1_userID.username }}</a><br>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}