<h1>地図画面</h1>
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css" />
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet.sprite.js' %}"></script>
    <script src="https://cdn.geolonia.com/community-geocoder.js"></script>
    <script src="{% static 'js/leaflet-search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/leaflet-search.css' %}">

    <script>
        console.log("map start");

        // マーカーリスト配列の初期化
        // データ型:　[{pos: [float 緯度][float 経度], name; String 名前},・・・]
        var default_spot_markerList = [];
        var original_spot_markerList = [];

        // マップ作成、表示関数
        function init() {
            console.log("init start");
            // htmlの要素mapcontainerを指定し、mapを作成
            // 空のmapを作成し、要素を後から追加
            var map = L.map('mapcontainer');

            // maptile選択・mapに追加
            // 地理院標準地図
            {% comment %} L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
                attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
            }).addTo(map); {% endcomment %}
            // openstreetmap
            {% comment %} L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                continuousWorld: false
            }).addTo(map); {% endcomment %}
            // MapTilesAPI.OSMEnglish
            L.tileLayer('https://maptiles.p.rapidapi.com/en/map/v1/{z}/{x}/{y}.png?rapidapi-key={apikey}', {
                attribution: '&copy; <a href="http://www.maptilesapi.com/">MapTiles API</a>, &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                apikey: '07b42bd84dmsha2c84c2de9e35b3p1dc440jsn35ea7f61ea22',
                maxZoom: 19
            }).addTo(map);


            // 検索コンソール設定
            // 検索用レイヤーを作成し、マップに追加
            var searchLayer = new L.LayerGroup();
            map.addLayer(searchLayer);

            //検索用コンソール自体の設定を行い、マップに追加
            var controlSearch = new L.Control.Search({
                position:'topright',
                layer: searchLayer,
                initial: false,
                zoom: 15,
                marker: false
            });
            map.addControl( controlSearch );

            //マーカー全体が入るボックスを作る
            var bound = L.latLngBounds([35.475243,139.40441], [35.731372,140.11212]);    

            // マーカーを地図に追加
            for (var num in default_spot_markerList) {
                // マーカーを変数に格納
                var mk = default_spot_markerList[num];
                // マーカーに関連付けるポップアップ設定
                var popup = L.popup().setContent(mk.name+"<br><img src='{% static 'images/sample_image.png' %}' width='500' height='375'>");
                // マーカーアイコン設定
                L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@1.3.1/dist/images/';
                // 上記設定でマーカーを地図、検索用レイヤーに追加
                searchLayer.addLayer(L.marker(mk.pos, { 
                    title: mk.name, 
                    icon: L.spriteIcon('green') 
                }).bindPopup(popup).addTo(map));
                //マーカー全体が入るボックスを広げる
                {% comment %} bound.extend(mk.pos); {% endcomment %}
            }
            for (var num in original_spot_markerList) {
                var mk = original_spot_markerList[num];
                var popup = L.popup().setContent(mk.name+"<br><img src='{% static 'images/sample_image.png' %}' width='500' height='375'>");
                L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@1.3.1/dist/images/';
                searchLayer.addLayer(L.marker(mk.pos, { 
                title: mk.name, 
                icon: L.spriteIcon('red') 
                }).bindPopup(popup).addTo(map));
                //マーカー全体が入るボックスを広げる
                {% comment %} bound.extend(mk.pos); {% endcomment %}
            }
            //マーカー全体が入るように地図範囲を設定する
            map.fitBounds(bound);
        }

        // マーカーリスト作成関数 make_markerList
        function make_markerList(){
            const d_list = JSON.parse('{{ d_list|safe }}');
            const o_list = JSON.parse('{{ o_list|safe }}');
            console.log("make_markerList start");
            // データベースからスポットの情報を取得
            // [Stirng 住所, String 名前]
            //var default_spot_data_array=[['東京都千代田区西神田2-4-11',"東京情報クリエイター工学院専門学校"],['東京都豊島区東池袋1-20-17',"大原ビジネス公務員専門学校池袋校"],['東京都立川市緑町4-8',"大原簿記公務員医療福祉保育専門学校立川校"]];
            //var original_spot_data_array=[['神奈川県横浜市神奈川区反町1-8-14',"大原簿記情報ビジネス専門学校横浜校"],['千葉県千葉市中央区弁天1-16-2',"大原簿記公務員専門学校千葉校"]];
            var default_spot_data_array = d_list
            var original_spot_data_array = o_list
            // 各データ数を変数に格納
            const default_spot_counter = default_spot_data_array.length;
            const original_spot_counter = original_spot_data_array.length;

            // marker_add関数で作成したPromiseを格納する配列 promises
            // 後にPromise.allで使用
            var promises = [];
            // marker_add関数を呼び出し、各スポットの住所を座標に変換し、マーカーリストに追加
            // 重い処理のため非同期で実行し、Promiseをpromisesに追加
            for (var i = 0; i < default_spot_counter; i++){
                promises.push(marker_add(default_spot_data_array[i][0], default_spot_data_array[i][1],"default"));
            }
            for (var i = 0; i < original_spot_counter; i++){
                promises.push(marker_add(original_spot_data_array[i][0], original_spot_data_array[i][1],"original"));
            }
            // 全てのPromiseがresolveしたら、init関数を実行
            Promise.all(promises).then(() => {
                init();
            });
        }

        // 住所→座標（緯度経度）変換関数 marker_add
        // 引数 String address : 住所
        //      String name : 名前
        // 　　 String default_or_original : スポットの種類
        // 戻り値　Promise 変換を実行し、マーカーリストに追加するPromise
        function marker_add(address, name, default_or_original){
            return new Promise((resolve) => {
                // 変換関数 getLatLng
                // 関数内の処理終了後、Promiseをresolve()
                getLatLng(address, (result) => {
                    console.log(name+":"+address+":"+default_or_original+"-spot")
                    // 追加するマーカーリストのテンプレート
                    // {pos: [float lat,float lng], String name}
                    var markerList_tmp = {};
                    // マーカーリストのテンプレートに座標、名前を設定
                    markerList_tmp.pos = [result.lat,result.lng];
                    markerList_tmp.name = name;
                    // default・originalを判断し、それぞれのマーカーリストに作成したテンプレートを追加
                    if (default_or_original == "default"){
                        default_spot_markerList.push(markerList_tmp);
                    } else if (default_or_original == "original"){
                        original_spot_markerList.push(markerList_tmp);
                    } else {
                        console.log("default_or_original 未登録");
                    }
                    resolve();
                });
            });
        }
    </script>
</head>
 
<body onload="make_markerList()">
    <div id="mapcontainer" style="position:absolute;top:0;left:0;right:0;bottom:0;"></div>
</body>
 
</html>