{% extends 'base.html' %}

{% block title %}Original Info | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css/mystyle_morita.css' }" /> -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <!-- <div class="row"> -->
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 style="text-transform:none">Original Info</h3>
            </div>
        <!-- </div> -->
    </div>
    <div class="container">
        <div class="animate-box">
            <div style=" text-align: right; margin-bottom: 15px;">
                {% if mine != 1 %}
                <form method="post" action="{% url 'maps:OspotVisitRegister' %}">
                    {% csrf_token %}
                    <input type="hidden" name="spot" value={{spot.MO4_OspotNumber}}>
                    <button class="btnin" style="width: 200px;" type="submit">record of <br>your visits</button>
                </form>
                {% endif %}
            </div>
            <div class="side-by-side">
                <table class="spot-table">
                    <tr>
                        <td class="Spot_Name">{{ spot.MO4_OspotName }}</td>
                    </tr>
                    <tr>
                        <td>Spot Info<br>
                            {{ spot.MO4_OspotInfo }}
                        </td>
                    </tr>
                </table>
                <table class="spot-table2">
                    <tr>
                        <th>You have visited {{ count }} times.</th>
                    </tr>
                    <tr>
                        <td>
                            <select>
                                {% for i in records %}
                                <option>{{ i.MO6_createdDate }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <th class="f_blog">Featured Blogs</th>
                </tr>
                {% for i in blogs %}
                    <tr>
                        <td>
                            <a href="{% url 'blog:blogDetail' i.MO7_blogNumber %}">“ {{ i.MO7_blogName }} ” - {{ i.MO1_userID.username }}</a><br>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}