{% extends 'base.html' %}

{% block title %}OspotVisitRegister | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 class="point" style="text-transform:none">Ospot Visit Register</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center-nh">
                <form method="post" action="{% url 'maps:OspotVisitCreate' %}">
                    {% csrf_token %}
                    <input type="hidden" name="spot" value={{spot.MO4_OspotNumber}}>
                    <table class="ospot_record">
                        <tr>
                            <th class="th-center">Spot Name</th>
                            <td class="td-name">{{spot.MO4_OspotName}}</td>
                        </tr>
                        <tr>
                            <th class="th-center">Date</th>
                            <!-- <h2 class="point_input_text">Spot Name</h2> -->
                            <td class="td-date"><input type="date" name="date" required class="ospot_date"></td>
                        </tr>
                        <tr>
                            <th class="th-center">Time</th>
                            <td class="td-time"><input type="time" name="time" required class="ospot_time"></td>
                        </tr>
                    </table>
                    <button class="btnin" type="submit">Record</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}