{% extends 'base.html' %}

{% load static %}

{% block title %}店舗登録申請{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>店舗登録申請</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-bottom-padded-md"></div>
      <form method="post" action="{% url 'store:storeInfoConfirmation' %}">
        {% csrf_token %}
        <table class="confirmation" enctype="multipart/form-data">
            <tr>
                <th class="th-center">店舗名</th>
                <td class="td-space">{{form.MO2_storeName}}</td>
            </tr>
            <tr>
                <th class="th-center">店舗情報</th>
                <td class="td-space"><pre>{{form.MO2_storeInfo}}</pre></td>
            </tr>
            <tr>
                <th class="th-center">電話番号</th>
                <td class="td-space">
                    {{form.MO2_phoneNumber}}
                </td>
            </tr>
            <tr>
                <th class="th-center">住所</th>
                <td class="td-space">
                    {{form.MO2_address}}
                </td>
            </tr>
            <tr>
                <th class="th-center">店舗画像1</th>
                <td class="td-space">
                    {{form.MO2_images1}}
                </td>
            </tr>
            <tr>
                <th class="th-center">店舗画像2</th>
                <td class="td-space">
                    {{form.MO2_images2}}
                </td>
            </tr>
            <tr>
                <th class="th-center">店舗画像3</th>
                <td class="td-space">
                    {{form.MO2_images3}}
                </td>
            </tr>
        </table>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!--登録ボタン-->
        <div style="text-align: center;">
          <button type="submit" class="button primary" name="next" value="confirm">　更新　</button>
        </div>
      </form>
      <p>{{ message }}</p>
    </div>
  </div>
</div>
{% endblock %}