{% extends 'base.html' %}

{% load static %}

{% block title %}店舗認証{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
      <h3>店舗認証</h3>
    </div>
  </div>
  <div class="container">
    <div class="animate-box">
      <form id="add" action="{% url 'store:addStore'%}" method="POST">
        {% csrf_token %}
        <table class="verified">
          <tr>
            <th class="th-center" colspan="4">未認証店舗</th>
          </tr>
          <tr>
            <th colspan="1">
              店舗名
            </th>
            <th colspan="1">
              店舗情報
            </th>
            <th colspan="1">
              住所
            </th>
            <th colspan="1">
              認証
            </th>
          </tr>
          {% for all in noauth %}
          <tr>
            <td class="col-3" style="font-size: larger;">
              <p>{{ all.MO2_storeName }}</p>
            </td>
            <td class="col-3" style="font-size: larger;">
              <p>{{ all.MO2_storeInfo }}</p>
            </td>
            <td class="col-3" style="font-size: larger;">
              <p>{{ all.MO2_address }}</p>
            </td>
            <td>
              <input type="checkbox" name="add" value="{{ all.MO2_storeNumber }}"
                style="transform: scale(2);margin: 0 12px; opacity: 1;">
            </td>
          </tr>
          {% endfor %}
        </table>
        <div style="text-align:center;">
          <button form="add" type="submit" href="{% url 'store:addStore'%}" class="btnin">店舗追加</button>
        </div>
      </form>
      <p>{{ message }}</p>
      <table class="verified">
        <tr>
          <th class="th-center">認証済み店舗</th>
        </tr>
        {% for i in auth %}
        <tr>
          <td>
            <p>{{ i.MO2_storeName }}</p>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}