{% extends 'base.html' %}

{% load static %}

{% block title %}Store Mypage{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/store_login.css' %}" />
{% endblock %}

{% block contents %}
<div class="container">
    <div class="animate-box">
        <div style="background-color: rgb(251, 219, 161); padding-top: 10px; margin-top: 10px;">
            <table class="confirmation">
                <tr>
                    <th class="th-center">店舗名</th>
                    <td class="td-space">
                        {{ mystore.MO2_storeName }}
                    </td>
                </tr>
                <tr>
                    <th class="th-center">住所</th>
                    <td class="td-space">
                        〒{{ mystore.MO2_address }}
                    </td>
                </tr>
                <tr>
                    <th class="th-center">メール</th>
                    <td class="td-space">
                        {{ mystore.MO2_mailAdress }}
                    </td>
                </tr>
            </table>
            <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                <a href="{% url 'store:storeInfoEdit' %}" class="button primary">登録情報編集</a>
                <a href="#" class="button primary">登録情報削除</a>
            </div>
        </div>

        <div id="wrapper" class="text-center">
            <div id="main">
                <div class="inner">
                    <section class="tiles">
                        <article class="style3">
                            <span class="image">
                                <img src="{% static 'images/pic01.jpg' %}" alt="" />
                                <p>QRコード</p>
                            </span>
                            <div class="content">
                                <p></p>
                            </div>
                            <!-- <a href="generic.html"> -->
                            <!-- </a> -->
                        </article>
                        <article class="style6">
                            <span class="image">
                                <img src="{% static 'images/pic02.jpg' %}" alt="" />
                                <p>統計情報</p>
                            </span>
                            <!-- <a href="generic.html"> -->
                            <!-- </a> -->
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
        
    <!-- </div>
</div> -->

{% endblock %}