{% extends 'store_base.html' %}

{% load static %}

{% block title %}Store Tag | SAMURAI WALK{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/store_login.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h1 class="Pass_regi">タグ設定</h1>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="disp-flex">
                <table class="tag-table" style="margin-right:50px;">
                <form id="addtag" action="{% url 'store:addtag'%}" method="POST">
                    {% csrf_token %}
                    <tr>
                        <th class="tag-th" colspan="2">すべてのタグ</th>
                    </tr>
                    <tr></tr>
                    {% for i in tags %}
                        <tr>
                            <td>
                                <input type="checkbox" name="add" value={{ i.MO5_tagNumber }} style="transform: scale(2);margin: 0 12px; opacity: 1;">
                            </td>
                            <td>
                                {{ i.MO5_tagName }}
                            </td>
                        </tr>
                    {% endfor %}
                </form>
                </table>
                <table class="tag-table">
                    <form id="subtag" action="{% url 'store:subtag'%}" method="POST">
                        {% csrf_token %}
                        <tr>
                            <th class="tag-th" th class="tag-th" colspan="2">現在のタグ</th>
                        </tr>
                        <tr></tr>
                        {% for i in mytags %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="sub" value={{ i.MO5_tagNumber }} style="transform: scale(2);margin: 0 12px; opacity: 1;">
                                </td>
                                <td>
                                    {{ i.MO5_tagName }}
                                </td>
                            </tr>
                        {% endfor %}
                    </form>
                </table>
            </div>
            <div class="text-center-nh space">
                <button class="btnin" type="submit" form="addtag">登録</button>
                <button class="btnin" type="submit" form="subtag">取り除く</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}