{% extends 'store_base.html' %}

{% block title %}パスワード設定 | SAMURAI WALK{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3>パスワード再設定</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div style="margin-left:auto; margin-right:auto;">
                <form method="post" action="{% url 'store:storepasschangeregister' %}">
                    {% csrf_token %}
                    <div class="text-center-nh">
                        <p>{{ message }}</p>
                    </div>
                    <div class="signup-form space">
                        <p>
                            メールアドレス:<input type="email" name="mail" required>
                        </p>
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <!--登録ボタン-->
                    <div class="text-center-nh space">
                        <button type="submit" class="btnin">送信</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}