{% extends 'base.html' %}

{% load static %}

{% block title %}店舗登録申請{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>店舗登録申請</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="animate-box">
      <div class="row row-bottom-padded-md"></div>
      <form method="post" enctype="multipart/form-data" action="{% url 'store:storeRequest' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!--登録ボタン-->
        {% if form != None %}
          <div class="col-md-12 text-center">
            <button type="submit" class="btnin">　登録　</button>
          </div>
        {% endif %}
      </form>
      <p>{{ message }}</p>
    </div>
  </div>
</div>
</div>
{% endblock %}