{% extends 'store_base.html' %}

{% load static %}

{% block title %}Store Tag | SAMURAI WALK{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/store_login.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h1 class="Pass_regi">タグ設定</h1>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            
        </div>
    </div>
</div>
{% endblock %}