{% extends 'base.html' %}

{% load static %}

{% block title %}Favorite Blog List{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 style="text-transform:none">Favorite Blog</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- 左寄せ -->
        <div class="animate-box">
            <div style="text-align:right;">
                <!-- 作成ページ遷移ボタン -->
                <button type="submit" onclick="location.href='{% url 'main:favoriteUserList' %}'" class="btnin" style="width:150px;" style="text-transform:none">Favorite<br>User</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="animate-box">
            {% for obj in object_list %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="fh5co-blog animate-box">
                        <a href="{% url 'blog:blogDetail' obj.MO7_blogNumber.MO7_blogNumber %}"><img class="img-responsive" src="{% static 'images/place-1.jpg' %}" alt=""></a>
                        <div class="blog-text">
                            <div class="prod-title">
                                <!-- ブログタイトル -->
                                <h3><a href="{% url 'blog:blogDetail' obj.MO7_blogNumber.MO7_blogNumber %}">{{ obj.MO7_blogNumber.MO7_blogText}}</a></h3>
                                <!-- 日付 -->
                                <span class="posted_by">{{ obj.MO7_blogNumber.MO7_createDate }}</span>
                                <p>
                                <pre>{{ obj.MO7_blogNumber.MO7_blogText }}</pre>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div>
                    <p>No blog</p>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}