{% extends 'base.html' %}

{% load static %}

{% block title %}Mypage | SAMURAI WALK{% endblock %}

{% block contents %}
    <div id="wrapper">
        <div id="main">
            <div class="inner animate-box">
                <section class="tiles">
                    <article class="style4">
                        <span class="image">
                            <a href="{% url 'maps:Map' %}">
                                <img src="{% static 'images/map.jpg' %}" alt="" />
                            <p>Map</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style2">
                        <span class="image">
                            <a href="{% url 'main:Point' %}">
                                <img src="{% static 'images/point.jpg' %}" alt="" />
                            <p>Point</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style3">
                        <span class="image">
                            <a href="{% url 'blog:blogList' %}">
                                <img src="{% static 'images/blog.jpg' %}" alt="" />
                            <p>Blog</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style1">
                        <span class="image">
                            <a href="{% url 'main:favoriteUserList' %}">
                            <img src="{% static 'images/fav.jpg' %}" alt="" />
                            <p>Favorite</p>
                            </a>
                        </span>
                        <div class="content">
                            <p></p>
                        </div>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style5">
                        <span class="image">
                            <a href="{% url 'accounts:OpenRangeRegister' %}">
                                <img src="{% static 'images/pri.jpg' %}" alt="" />
                            <p>PublicScope</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                    <article class="style6">
                        <span class="image">
                            <a href="{% url 'accounts:UserSearch' %}">
                                <img src="{% static 'images/search.jpg' %}" alt="" />
                            <p>Search</p>
                            </a>
                        </span>
                        <!-- <a href="generic.html"> -->
                        <!-- </a> -->
                    </article>
                </section>
            </div>
        </div>
    </div>
{% endblock %}