{% extends 'base.html' %}

{% block title %}Point Display | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3 class="point" style="text-transform:none">Complete!</h3>
        </div>
    </div>
    <div class="container">
        <div class="animate-box">
            <div class="text-center-nh">
                <h4 style="text-transform:none">Please show your screen to out staff</h4>
                <table class="point_display">
                    <tr>
                        <th class="th-center">Point</th>
                        <td class="td-space">{{form.point.value}}pt</td>
                    </tr>
                </table>
                <div>
                    <button class="btnin" type="submit" onclick="location.href='{% url 'main:Point' %}'">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}