{% extends 'base.html' %}

{% block title %}Point Input{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mystyle_morita.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3 class="point">Point Input</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <form method="post" action="{% url 'main:PointConfirmation' %}">
                    {% csrf_token %}
                    <table class="point_input">
                        <tr>
                            <th class="th-center">Remaining Point</th>
                            <td class="td-space">{{mydata.MO1_point}}</td>
                        </tr>
                    </table>
                    <h2 class="point_input_text">Use Points</h2>
                    <!-- <input type="text" class = "use_point" value="pt"> -->
                    {{form.point}}
                    <button class="point_OK" type="submit" name="next" value="comfirm">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}