{% extends 'base.html' %}

{% block title %}Default Info | SAMURAI WALK{% endblock %}

{% block active_login %}active{% endblock %}

{% block css %}
  {% load static %}
  <!-- <style>
    body {
      max-width: 800px;
      margin: auto;
      padding: 1rem;
      font-size: 14px;
      text-align: center;
    }
  
    pre {
      text-align: left;
    }
  
    #canvas {
      width: 100%;
    }
  </style> -->
{% endblock %}
{% block script %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CK9PC4CD47"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-28042024-1');
    gtag('config', 'G-CK9PC4CD47');
  </script>
  <meta name="robots" content="none">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="#000000">
  <link href="https://iwb.jp/s/common.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
{% endblock %}

{% block contents %}
<div id="fh5co-blog-section" class="fh5co-section-gray">
  <div class="container">
    <h1 align="center">Please scan the QR code #2.</h1>
    <div id="loading">📱 Please allow the use of your browser's camera.</div>
    <div class="text-center-nh">
      <canvas id="canvas" hidden class="camera-size"></canvas>
    </div>
    <div class="xxsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- WPad -->
      <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-4331355790825703" data-ad-slot="8762248525"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-4331355790825703" data-ad-slot="8762248525"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <script>
      const pathname = location.pathname.replace('/s/', '/').replace(/[^/]+\.html$/, '')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
    <script>
      const video = document.createElement('video');
      const canvasElement = document.getElementById('canvas');
      const canvas = canvasElement.getContext('2d');
      const loading = document.getElementById('loading');
      let isReadQR = false;

      navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } })
        .then((stream) => {
          video.srcObject = stream;
          video.setAttribute('playsinline', true);
          video.play();
          requestAnimationFrame(tick);
        });

      function tick() {
        loading.textContent = '⌛ Now Loading...';
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
          loading.hidden = true;
          canvasElement.hidden = false;
          canvasElement.height = video.videoHeight;
          canvasElement.width = video.videoWidth;
          canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
          var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
          var code = jsQR(imageData.data, imageData.width, imageData.height, {
            inversionAttempts: 'dontInvert',
          });
          if (code && !isReadQR) {
            location.href = code.data;
            isReadQR = true;
          }
        }
        requestAnimationFrame(tick);
      }
    </script>
  </div>
</div>
{% endblock %}

